body {
  background-color: #feeef2;
}

header {
  display: flex;

  flex-direction: row;

  background-color: #feeef2;

  justify-content: space-between;

  width: 100%;
}

header img {
  align-items: center;

  justify-content: center;

  margin: 10px;

  padding: 10px;
}

header nav {
  display: flex;

  flex-direction: row;

  justify-content: space-evenly;

  font-size: 30px;

  color: #feeef2;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header ul {
  list-style: none;

  display: flex;

  flex-direction: row;
}

header ul li {
  margin: 30px;
}

main {
  background-color: #fcb9cc;

  width: 100%;
}

footer {
  display: flex;

  flex-direction: column;

  justify-content: center;

  background-color: #fedce6;
}

img {
  width: 200px;
}

h1 {
  font-size: 24px;

  color: #b56d82;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-size: 16px;

  color: #713649;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.main {
  display: flex;

  flex-direction: row;

  width: 100%;
  line-height: 30px;
  margin-top: 50px;
}

.caja {
  width: 100%;

  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  padding: 10px;
}

.title {
  width: 100%;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;
}

.caja img {
  border-radius: 50%;

  border: solid white;

  size: 200px 200px !important;
}

.claseCarrusel {
  justify-content: center;
  align-items: center !important;
}
.claseCarrusel img {
  align-items: center;
  justify-content: center;
}
